{% extends "report_base.html" %}

{% block content %}
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>نوع نظر</th>
			<th>نام کاربر</th>
			<th>تاریخ ثبت نظر</th>
			<th>نظر</th>
		</tr>
	</thead>
	<tbody>
	{% for c in comments %}
		<tr class="{% if c.kind == 'S' %}success{% else %}danger{% endif %}">
			<td>{{ forloop.counter }}</td>
			<td>{{ c.get_kind_display }}</td>
			<td>{{ c.user.name }}</td>
			<td>{{ c.register_date }}</td>
			<td>{{ c.text|safe }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}