<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>درگاه کاریابی شریف</title>

	<!-- Bootstrap core CSS -->
	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">

	<!-- Add custom CSS here -->
	<link href="{{STATIC_URL}}css/modern-business.css" rel="stylesheet">
	<link href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- JavaScript -->
	<script src="{{STATIC_URL}}js/jquery-1.10.2.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
	<script src="{{STATIC_URL}}js/modern-business.js"></script>

  </head>

<body dir="rtl">
<!--     <style>
	.navbar.transparent.navbar-inverse .navbar-inner {
	   background: rgba(0,0,0,0.4);
	}
	</style> -->

	<nav class="navbar navbar-inverse navbar-fixed-top transparent" style="background: rgba(0,0,0,0.7)" role="navigation">

	  <div class="container">
		<div class="navbar-header pull-left">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"></button>
		  <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
		  <a class="navbar-brand" href="/">درگاه کاریابی شریف</a>
		</div>
	  </div><!-- /.container -->
	</nav>
	<style>
	.navbar-inverse {
	border-color:transparent;
	}
	</style>
    <div class="container">
 
    <div class="row">
      <div class="col-md-3 col-sm-4 sidebar">
    	  <ul class="nav nav-stacked nav-pills">
    		<li class="{% ifequal request.META.PATH_INFO '/report/' %}active{% endifequal %}"><a href="/report/">گزارش پرداخت‌ها</a></li>	
    		<li class="{% ifequal request.META.PATH_INFO '/report/seekers/' %}active{% endifequal %}"><a href="/report/seekers/">گزارش کارجویان ثبت‌نامی</a></li>
    		<li class="{% ifequal request.META.PATH_INFO '/report/employers/' %}active{% endifequal %}"><a href="/report/employers/">گزارش کارفرمایان ثبت‌نامی</a></li>
    		<li class="{% ifequal request.META.PATH_INFO '/report/comments/' %}active{% endifequal %}"><a href="/report/comments/">گزارش نظرات</a></li>
			<li class="{% ifequal request.META.PATH_INFO '/report/success/' %}active{% endifequal %}"><a href="/report/success/">گزارش کاریابی‌های موفق</a></li>
			<li class="{% ifequal request.META.PATH_INFO '/report/verify/' %}active{% endifequal %}"><a href="/report/verify/">تایید/رد کارفرمایان</a></li>
    	  </ul>
      </div>
    
      	<div class="col-md-9 col-sm-8 sidebar">
			<div class="well container-fluid">
   	   	{% block content %}
   	   	{% endblock %}
	</div>

   	</div>
          
   	</div><!-- /.row -->
	 
   </div><!-- /.container -->
	
	<div class="container">
	
		  <hr>
	
		  <footer>
			<div class="row">
			  <div class="col-lg-12">
				<center><p>Copyright &copy; TARA 2013</p>
				<p>تمامی حقوق این درگاه متعلق به شرکت تارا است.</p></center>
			  </div>
			</div>
		  </footer>
	
		</div><!-- /.container -->
		
  </body>
  </html>