{% extends "report_base.html" %}

{% block content %}
<div class="well container-fluid" id="chart_container" style="width: 95%; height: 300px; direction: ltr">
</div>
<table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>نام</th>
              <th>تاریخ ثبت‌نام</th>
            </tr>
          </thead>
          <tbody>
          {% for s in seekers %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ s.name }}</td>
              <td>{{ s.register_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
<script src="{{STATIC_URL}}js/highcharts.js"></script>
<script type="text/javascript">
$(function () {
	var chart;
	$(document).ready(function() {
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'chart_container',
				type: 'line'
			},

			title: {
				text: 'نمودار ثبت‌نام در دو هفته اخیر'
			},

			xAxis: {
				title: {
					text: 'روز'
				},
				categories:[
					{% for date in dates %}
						{% if forloop.counter != 1 %},{%endif%}
						"{{ date }}"
					{% endfor %}
				],
				minTickInterval : 2
			},

			yAxis: {
				title: {
					text: 'تعداد'
				},
				min: 0
			},
			legend: {
				enabled: false
			},
			series: [{
				name: 'ثبت‌نام‌ها',
				data: [
					{% for r in registers %}
						{% if forloop.counter != 1 %},{%endif%} {{r}}
					{% endfor %}
				],
			}]
		});
	});
});
</script>
{% endblock %}