{% extends "report_base.html" %}

{% block content %}
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>آگهی</th>
			<th>کارجو</th>
			<th>جهت</th>
		</tr>
	</thead>
	<tbody>
	{% for r in requests %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ r.advertisement.employer.name }}</td>
			<td>{{ r.job_seeker.name }}</td>
			<td>{{ r.get_direction_display }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}