{% extends "report_base.html" %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>نام</th>
			<th>کد اقتصادی</th>
			<th>شماره ثبت</th>
			<th>تایید/رد</th>
		</tr>
	</thead>
	<tbody>
	{% for e in employers %}
		<tr id="{{ e.id }}">
			<td>{{ forloop.counter }}</td>
			<td>{{ e.name }}</td>
			<td>{{ e.economic_code }}</td>
			<td>{{ e.registration_number }}</td>
			<td><button class="btn btn-primary" onclick="verify({{ e.id }}, 'V')">تایید</button><button class="btn btn-danger"  onclick="verify({{ e.id }}, 'R')">رد</button></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<script>

function verify(id, state){
	$.ajax({
		url: '/report/ajax/',
		type: 'get',
		dataType: 'json',
		data: { 'id' : id, 'state': state},
		success: function(data, status, xhr){
			if (data.error){
			   // Request error
			   console.log(data.error);
			}else {
				console.log('dasgare');
			}

		},
	});
	$('#'+id).hide()
}

</script>
{% endblock %}