<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>درباره‌ی ما | درگاه کاریابی شریف</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body dir="rtl">

    <nav class="navbar navbar-inverse navbar-fixed-top style="background: rgba(0,0,0,0.7)"" role="navigation">
      <div class="container">
        <div class="navbar-header pull-left">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"></button>
          <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
          <a class="navbar-brand" href="index.html">درگاه کاریابی شریف</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="about.html">درباره‌ی ما</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">بررسی <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="pricing.html">آگهی‌ها</a></li>
				<li><a href="pricing.html">رزومه‌ها</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">ورود به عنوان <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="sidebar.html">کارجو</a></li>
                <li><a href="sidebar.html">کارفرما</a></li>
              </ul>
            </li>
			<li><a href="faq.html">سؤالات متداول</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header"> <small>ما را بیشتر بشناسید!</small></h1>
          <ol class="breadcrumb">
            <li><a href="index.html">خانه</a></li>
            <li class="active">درباره ما</li>
          </ol>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6">
          <img class="img-responsive" src="{{STATIC_URL}}images/jobs.jpg">
        </div>
        <div class="col-md-6">
          <h2>به درگاه کاریابی شریف خوش آمدید!</h2>
          <p>هم اکنون در کشور با مشکل تعداد زیاد فارغ التحصیلان دانشگاهی و نیاز مبرم صنعت به خبرگان علمی مواجه هستیم.یک از دلایل عمده ی این مشکل در کشور پیوند ضعیف میان صنعت و دانشگاه است.
				درگاه کاریابی شریف تلاش دارد تا خلای ایجاد شده را پر کند.این درگاه قادر است ارتباط میان کارجویان و کارفرمایان را به شکل موثر برقرار کند و این ارتباط را تسریع و تسهیل بخشد. </p>
          <p>درگاه کاریابی شریف امکان ثبت نام برای کارجویان و کارفرمایان را به صورت جداگانه فراهم می کند و برای هریک امکاناتی را  مهیا می کند.</p>
		  <p>کارفرمایان پس از اعتبارسنجی مدارک کسب و کار و تایید نهایی توسط سیستم می توانند آگهی های استخدامی خود را در بخش آگهی های درگاه قرار دهند و در صورت تمایل آگهی های خود را به صورت ویژه و فوری ثبت کنند.هم چنین کارفرمایان 
		  می توانند در رزومه های موجود جست و جو انجام دهند و به گزینه های مورد نظر خود پیشنهاد کار دهد. </p>
		  <p>کارجویان می توانند رزومه های خود را در درگاه قرار دهند و با جست و جو در آگهی های استخدامی برای شغل مطلوب خود درخواست کار ارائه دهند. </p>
		  <p>   </p>
		  <p></p>
		</div>

      </div>

      <!-- Team Member Profiles -->

      <div class="row">

        <div class="col-lg-12">
          <h2 class="page-header">توسعه دهندگان</h2>
        </div>

        <div class="col-sm-3">
        	<img class="img-responsive" src="images/afsoon.jpg">
            <h3>افسون افضل <small>مدیرفنی</small></h3>
			<ul>
			<li> تقسیم بندی قسمت‌های مختلف پروژه و تخصیص آنها به گروههای برنامه نویسی و تحلیل</li>
			<li>مدیریت و نظارت برگروه برنامه‌نویسی و تحلیل تعیین خط مشی و اهداف آن </li>
			</ul>
            <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>

        <div class="col-sm-3">
        	<img class="img-responsive" src="images/negar.jpg">
            <h3>نگار ابوالحسنی <small>تحلیلگر</small></h3>
			<ul>
			<li>انتخاب راهكارهای مناسب برای تهیه سیستمها و استقرار و توسعه آنها با توجه به فناوریهای نو </li>
			<li>تحلیل، طراحی، پیاده‌سازی منظقی بخش‌های مختلف پروژه</li>
			</ul>
            <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>

        <div class="col-sm-3">
        	<img class="img-responsive" src="http://placehold.it/750x450">
            <h3> نازگل توابی<small> برنامه نویس </small></h3>
			<ul>
			<li>مدیریت بانكهای اطلاعاتی و اعمال تدابیر لازم امنیتی در خصوص کلیه منابع نرم افزاری</li>
			<li> تست و بررسی دقیق سیستم</li>
			</ul>
            <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>

        <div class="col-sm-3">
        	<img class="img-responsive" src="http://placehold.it/750x450">

            <h3> مریم ربیعی <small> مدیر پروژه </small></h3>
			<ul>
			<li>کنترل و هدایت پیشرفت کار پروژه طبق برنامه‌ی زمانبندی</li>
			<li> ایجاد هماهنگی میان اعضای پروژه و سازمان کارفرما</li>
			</ul>
            <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>

      </div>

      <!-- Our Customers -->

      <div class="row">

        <div class="col-lg-12">
          <h2 class="page-header">حامیان ما</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

      </div>

    </div><!-- /.container -->

    <div class="container">

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <center><p>Copyright &copy; TARA 2013</p>
			<p>تمامی حقوق این درگاه متعلق به شرکت تارا است.</p></center>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>

  </body>
</html>