	{% extends 'base.html' %}
    {% block content%}
    <div class="container">
    
    	  <div class="row">
    
    		<div class="col-lg-12">
    		  <h1 class="page-header"> <small>ما را بیشتر بشناسید!</small></h1>
    		  <ol class="breadcrumb">
    			<li><a href="index.html">خانه</a></li>
    			<li class="active">درباره ما</li>
    		  </ol>
    		</div>
    
    	  </div>
    
    	  <div class="row">
    
    		<div class="col-md-6">
    		  <img class="img-responsive" src="http://placehold.it/750x450">
    		</div>
    		<div class="col-md-6">
    		  <h2>به درگاه کاریابی شریف خوش آمدید!</h2>
    		  <p>هم اکنون در کشور با مشکل تعداد زیاد فارغ التحصیلان دانشگاهی و نیاز مبرم صنعت به خبرگان علمی مواجه هستیم.یک از دلایل عمده ی این مشکل در کشور پیوند ضعیف میان صنعت و دانشگاه است.
    				درگاه کاریابی شریف تلاش دارد تا خلای ایجاد شده را پر کند.این درگاه قادر است ارتباط میان کارجویان و کارفرمایان را به شکل موثر برقرار کند و این ارتباط را تسریع و تسهیل بخشد. </p>
    		  <p>درگاه کاریابی شریف امکان ثبت نام برای کارجویان و کارفرمایان را به صورت جداگانه فراهم می کند و برای هریک امکاناتی را  مهیا می کند.</p>
    		  <p>کارفرمایان پس از اعتبارسنجی مدارک کسب و کار و تایید نهایی توسط سیستم می توانند آگهی های استخدامی خود را در بخش آگهی های درگاه قرار دهند و در صورت تمایل آگهی های خود را به صورت ویژه و فوری ثبت کنند.هم چنین کارفرمایان 
    		  می توانند در رزومه های موجود جست و جو انجام دهند و به گزینه های مورد نظر خود پیشنهاد کار دهد. </p>
    		  <p>کارجویان می توانند رزومه های خود را در درگاه قرار دهند و با جست و جو در آگهی های استخدامی برای شغل مطلوب خود درخواست کار ارائه دهند. </p>
    		  <p>   </p>
    		  <p></p>
    		</div>
    
    	  </div>
    
    	  <!-- Team Member Profiles -->
    
    	  <div class="row">
    
    		<div class="col-lg-12">
    		  <h2 class="page-header">توسعه دهندگان</h2>
    		</div>
    
    		<div class="col-sm-3">
    			<img class="img-responsive" src="{{STATIC_URL}}images/afsoon.jpg">
    			<h3>افسون افضل <small>مدیرفنی</small></h3>
    			<ul>
    			<li> تقسیم بندی قسمت‌های مختلف پروژه و تخصیص آنها به گروههای برنامه نویسی و تحلیل</li>
    			<li>مدیریت و نظارت برگروه برنامه‌نویسی و تحلیل تعیین خط مشی و اهداف آن </li>
    			</ul>
    			<ul class="list-unstyled list-inline list-social-icons">
    			  <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
    			  <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    			  <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
    			  <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
    			</ul>
    		</div>
    
    		<div class="col-sm-3">
    			<img class="img-responsive" src="{{STATIC_URL}}images/negar.jpg">
    			<h3>نگار ابوالحسنی <small>تحلیلگر</small></h3>
    			<ul>
    			<li>انتخاب راهكارهای مناسب برای تهیه سیستمها و استقرار و توسعه آنها با توجه به فناوریهای نو </li>
    			<li>تحلیل، طراحی، پیاده‌سازی منظقی بخش‌های مختلف پروژه</li>
    			</ul>
    			<ul class="list-unstyled list-inline list-social-icons">
    			  <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
    			  <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    			  <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
    			  <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
    			</ul>
    		</div>
    
    		<div class="col-sm-3">
    			<img class="img-responsive" src="http://placehold.it/750x450">
    			<h3> نازگل توابی<small> برنامه نویس </small></h3>
    			<ul>
    			<li>مدیریت بانكهای اطلاعاتی و اعمال تدابیر لازم امنیتی در خصوص کلیه منابع نرم افزاری</li>
    			<li> تست و بررسی دقیق سیستم</li>
    			</ul>
    			<ul class="list-unstyled list-inline list-social-icons">
    			  <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
    			  <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    			  <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
    			  <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
    			</ul>
    		</div>
    
    		<div class="col-sm-3">
    			<img class="img-responsive" src="http://placehold.it/750x450">
    
    			<h3> مریم ربیعی <small> مدیر پروژه </small></h3>
    			<ul>
    			<li>کنترل و هدایت پیشرفت کار پروژه طبق برنامه‌ی زمانبندی</li>
    			<li> ایجاد هماهنگی میان اعضای پروژه و سازمان کارفرما</li>
    			</ul>
    			<ul class="list-unstyled list-inline list-social-icons">
    			  <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
    			  <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    			  <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
    			  <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
    			</ul>
    		</div>
    
    	  </div>
    
    	  <!-- Our Customers -->
    
    	  <div class="row">
    
    		<div class="col-lg-12">
    		  <h2 class="page-header">حامیان ما</h2>
    		</div>
    
    		<div class="col-md-2 col-sm-4 col-xs-6">
    			<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    		</div>
    
    		<div class="col-md-2 col-sm-4 col-xs-6">
    			<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    		</div>
    
    		<div class="col-md-2 col-sm-4 col-xs-6">
    			<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    		</div>
    
    		<div class="col-md-2 col-sm-4 col-xs-6">
    			<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    		</div>
    
    		<div class="col-md-2 col-sm-4 col-xs-6">
    			<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    		</div>
    
    		<div class="col-md-2 col-sm-4 col-xs-6">
    			<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    		</div>
    
    	  </div>
    	  
   {% endblock %}