{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}
 <div class="container">
 
 <div class="row">
   <div class="col-md-3 col-sm-4 sidebar">
 	  <ul class="nav nav-stacked nav-pills">
 		<li class="{% ifequal request.META.PATH_INFO '/account/' %}active{% endifequal %}"><a href="/account/"> صفحه ی اصلی حساب کاربری</a></li>

 		{% if flag %}
 		<li class="{% ifequal request.META.PATH_INFO '/userResume/' %}active{% endifequal %}"><a href="/userResume/"> مشاهده/تغییر رزومه های ثبت شده</a></li>
 		<li class="{% ifequal request.META.PATH_INFO '/add-resume/' %}active{% endifequal %}"><a href="/add-resume/"> ثبت رزومه جدید</a></li>
 		<li class="{% ifequal request.META.PATH_INFO '/jobrequests/' %}active{% endifequal %}"><a href="/jobrequests/">درخواست های کاری که داده اید </a></li>
 		<li class="{% ifequal request.META.PATH_INFO '/jobproposal/' %}active{% endifequal %}"><a href="/jobproposal/">پیشنهاد های داده شده به شما</a></li>
 		<li class="{% ifequal request.META.PATH_INFO '/automaticMatch/' %}active{% endifequal %}"><a href="/automaticMatch/">پیشنهاد های سیستم</a></li>
 		<li class="{% ifequal request.META.PATH_INFO '/successfuls/' %}active{% endifequal %}"><a href="/successfuls/">نتایج موفق</a></li>
 		<li class="{% ifequal request.META.PATH_INFO '/updateSeeker/' %}active{% endifequal %}"><a href="/updateSeeker/">تغییر اطلاعات شخصی</a></li>

 		{% else %}
 		<li class="{% ifequal request.META.PATH_INFO '/userAd/' %}active{% endifequal %}"><a href="/userAd/"> مشاهده/تغییر آگهی های ثبت شده</a></li>
		<li class="{% ifequal request.META.PATH_INFO '/add-advertisement/' %}active{% endifequal %}"><a href="/add-advertisement/"> ثبت آگهی جدید</a></li>
		<li class="{% ifequal request.META.PATH_INFO '/empJobrequests/' %}active{% endifequal %}"><a href="/empJobrequests/">درخواست های کاری که داده اید </a></li>
		<li class="{% ifequal request.META.PATH_INFO '/empJobproposal/' %}active{% endifequal %}"><a href="/empJobproposal/">پیشنهاد های داده شده به شما</a></li>
		<li class="{% ifequal request.META.PATH_INFO '/empAutomaticMatch/' %}active{% endifequal %}"><a href="/empAutomaticMatch/">پیشنهاد های سیستم</a></li>
		<li class="{% ifequal request.META.PATH_INFO '/empSuccessfuls/' %}active{% endifequal %}"><a href="/empSuccessfuls/">نتایج موفق</a></li>
		<li class="{% ifequal request.META.PATH_INFO '/updateEmployer/' %}active{% endifequal %}"><a href="/updateEmployer/">تغییر اطلاعات شخصی</a></li>
		{% endif %}		
 		<li class="{% ifequal request.META.PATH_INFO '/account/change-password/' %}active{% endifequal %}"><a href="/account/change-password/">تغییر گذر واژه</a></li>
 		<li class="{% ifequal request.META.PATH_INFO '/account/evaluation/' %}active{% endifequal %}"><a href="/account/evaluation/">ارزیابی</a></li>
 		<li class="{% ifequal request.META.PATH_INFO '/account/contact_us/' %}active{% endifequal %}"><a href="/account/contact_us/">ارتباط با ما</a></li>

 	  </ul>
   </div>
    
   	<div class="col-md-9 col-sm-8 sidebar">
	   	{% block Account %}
	   	{% endblock %}

	</div>
          
	</div><!-- /.row -->
	 
</div><!-- /.container -->
        
        
        {% endblock %}
