{% extends 'base.html' %}
{% block content%}
<div class="container">

  <div class="row">

	<div class="col-lg-12">
	  <h1 class="page-header">آگهی های ثبت شده<small> </small></h1>
	  <ol class="breadcrumb">
		  <li class="dropdown">
						<span class="dropdown-toggle" data-toggle="dropdown">نمایش بر اساس <b class="caret"></b></span>
						<ul class="dropdown-menu">
						  <li><a href="/ads/bydate">زمان</a></li>
						  <li><a href="/ads/?bysalary=1">حقوق</a></li>
						</ul>
					  </li>
	  </ol>
	</div>

  </div>

  <div class="row">
	  {% for ad in ads%}
		  <div class="col-sm-4" style="height:380px">
			<div class="panel panel-default text-center">
			<div class="panel-heading">
				<img src="{{MEDIA_URL}}{{ad.logo}}" alt="Image" width="100px" style="margin:auto" class="img-responsive">
			  <strong> شرکت {{ad.employer.name}}</strong>
			</div>
	
			<ul class="list-group">
			  <li class="list-group-item">{{ad.get_category_display}}</li>
			  <li class="list-group-item">{{ad.get_city_display}}</li>
			  <li class="list-group-item">ماهانه {{ad.salary}} تومان </li>
			  <li class="list-group-item">جنسیت : {{ad.get_gender_display}} </li>
			  <li class="list-group-item"><a href="/adss/?id={{ad.id}}"class="btn btn-info">جزئیات بیشتر</a></li>
			</ul>
			</div>          
		  </div>
	  {% endfor %}

  </div> 

</div><!-- /.container -->

<div calss= "row" style="text-align: center">
  <div class="col-lg-12">

  <div class="pagination">
	  <ul class="pager">
  	
  		{% if ads.has_previous %}
  			<li class="previous"><a href="?page={{ ads.previous_page_number }}">&rarr; قدیمی‌تر</a></li>
  		{% else %}
  			<li class="previous disabled"><a href="#">&rarr; قدیمی‌تر</a></li>
  		{% endif %}
  
  		<span class="current">
  			صفحه {{ ads.number }} از {{ ads.paginator.num_pages }}
  		</span>
  
  		{% if ads.has_next %}
  			<li class="next"><a href="?page={{ ads.next_page_number }}">جدید‌تر &larr;</a></li>
  		{% else %}
  			<li class="next disabled"><a href="#">جدید‌تر &larr;</a></li>
  		{% endif %}
 	 </ul>
  </div>
  </div>
  </div>



<!-- <div calss= "row" style="text-align: center">
  <div class="col-lg-12">
	<ul class="pagination">

	  <li><a href="#">&laquo;</a></li>
	  {% for i in range %}
	  <li><a href="pageclick(i)">{{i}}</a></li>
	  {% endfor %}
	  <li><a href="#">&raquo;</a></li>
	</ul>        
  </div>
</div> -->
<script>
	
</script>
{% endblock %}
