{% extends 'accountBase.html' %}
{% block Account%}
{% if message %}	
<div class="row-fluid">
	<div class="offset3 span8">
			<div class="alert alert-block alert-danger">
				<p>{{message}}</p>
			</div>
	</div>
</div>
{% else %}
<div class="well container">
<form action="." method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
	{{ hidden }}
	{% endfor %}
<div class="col-md-12">
	<table class="table">
		{% for field in form.visible_fields %}
		<tr><td><h4>{{ field.label }}</h4></td>
			<td>{{ field }}{% if field.help_text %} {{ field.help_text }}{% endif %}</td>
			{% if field.errors %}
			<td style="color: red;">{{ field.errors }}</td>
				{% else %}
				<td></td>
				{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>
	{% if flag %}
	<h4></h4>
	{%else%}
	<center><h5>شما می‏توانید با انتخاب گزینه‏ی تغییر آگهی از نوار کناری و پرداخت هزینه‏ای اندک  آگهی خود را ویژه کنید.</h5></center>
	{% endif %}
	<button class="btn btn-primary btn-wide col-md-2 col-md-offset-5" type="submit" style="margin-bottom:10px">{% if flag %}ثبت رزومه
		{% else %}ثبت آگهی
		{% endif %}</button>
</form>
</div>
{% endif %}
{% endblock %}