{% extends 'base.html' %}
{% block content %}

    <div class="container">
      
      <div class="row">
      
        <div class="col-md-12">
          <h1 class="page-header">آگهی ها </h1>
          <ol class="breadcrumb">
            <li><a href="/">خانه</a></li>
            <li class="active">آگهی‌ها</li>
          </ol>
        </div>

      </div>

      <div class="row">

        <div class="col-md-8" >
        
          <!-- the actual blog post: title/author/date/content -->
          <hr>
          <p><i class="fa fa-clock-o"></i>این آگهی در تاریخ {{ad.date}} قرار گرفته است.</p>
          <hr>
          
		    <div class="panel panel-info" style="border:0px">
		    <div class="panel-heading">
		      <strong> شرکت {{ad.employer.name}}</strong>
		    </div>
		    <ul class="list-group" >
		      <li class="list-group-item">رشته :{{ad.get_category_display}}</li>
		      <li class="list-group-item">حقوق : ماهانه {{ad.salary}} تومان </li>
		      <li class="list-group-item">جنسیت : {{ad.get_gender_display}} </li>
		      <li class="list-group-item">شهر : {{ad.get_city_display}} </li>
		      <li class="list-group-item">سابقه کار : {{ad.age}} سال</li>
		      <li class="list-group-item">ساعات کاری : {{ad.work_hours}} ساعت</li>
		      <li class="list-group-item">آدرس : {{ad.addres}}</li>
		      <li class="list-group-item"> تعداد افراد لازم : {{ad.number_of_people}} نفر </li>
		      <li class="list-group-item">مهارت های لازم : <br>{{ad.required_skills|safe}} </li>
		      {% if is_jobseeker%}
		      <li class="list-group-item"><a class="btn btn-info" href="request/?id={{ad.id}}">ارسال درخواست</a></li>
		      {% endif %}
		    </ul>
		    </div>          

		       
          <p><strong> پیوندهای مرتبط:</strong></p>
          <ul>
            <li><a href="/ads">آگهی‏ها</a></li>
            <li><a href="/resumes">رزومه‏ها</a></li>
            <li><a href="/">خانه</a></li>
          </ul>

          <hr>

          <!-- the comment box -->
          <div class="well">
            <h4>نظر دهید...</h4>
            <form role="form">
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">ثبت</button>
            </form>
          </div>
          
          <hr>

          <!-- the comments -->
          <h3>افسون : <small>9:41 PM on August 24, 2013</small></h3>
          <p>آیا سکونت در نزدیکی محل شرکت مزیت محسوب می‎شود؟ آیا دورکاری امکان پذیر است؟
</p>

          <h3>نازگل : <small>9:47 PM on August 24, 2013</small></h3>
          <p>پس از بررسی آگهی‏های متعدد اولین باریست که یک کارفرما حقوق مناسبی را پیشنهاد کرده است</p>

        </div>
        
        
        <div class="col-md-4">
          <div class="well">
            <h4>آگهی‏های مشابه در این زمینه </h4>
               <div class="row">
                <div class="col-md-10">
                  <ul class="list-unstyled">
	                  {% if similarAds %}
	                  {% for ad in similarAds %}
                    <li><a href="/adss/?id={{ad.id}}">{{ad.employer.name}}</a></li>
                    {% endfor %}
                    {% else %}
                    	<h6>آگهی دیگری از این کارفرما موجود نیست.</h6>
                    {% endif %}
                  </ul>
                </div>
<!--                 <div class="col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="#wild-animals">رایاگستر فردا</a></li>
                    <li><a href="#business-casual">داده‏پردازی</a></li>
                    
                  </ul>
                </div> -->
              </div> 
          </div><!-- /well -->
          <div class="well">
		  	<h4>خود را معرفی کنید!</h4>
			<p>رزومه فرصت مناسبی است برای عرضه و تبلیغ توانایی و مهارتهای شما به کارفرما، آن را مغتنم شمارید.<p>
            </div><!-- /well -->
        </div>
      </div>
    </div><!-- /.container -->
{% endblock %}