{% extends 'base.html' %}
{% block content%}
<div class="row" style="margin-top:30px">
	<div class="col-md-10 col-md-offset-1">
		<div class="alert alert-{{type}} alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <strong>پیغام‌!</strong> 
		  <p>{{message}}</p>
		  <p>به <a href="/"> صفحه اصلی </a> .بروید</p>
		</div>
	</div>
	
</div>
{% endblock %}
