<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>درگاه کاریابی شریف</title>

	<!-- Bootstrap core CSS -->
	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">

	<!-- Add custom CSS here -->
	<link href="{{STATIC_URL}}css/modern-business.css" rel="stylesheet">
	<link href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- JavaScript -->
	<script src="{{STATIC_URL}}js/jquery-1.10.2.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
	<script src="{{STATIC_URL}}js/modern-business.js"></script>

  </head>

<body dir="rtl">
<!--     <style>
	.navbar.transparent.navbar-inverse .navbar-inner {
	   background: rgba(0,0,0,0.4);
	}
	</style> -->

	<nav class="navbar navbar-inverse navbar-fixed-top transparent" style="background: rgba(0,0,0,0.7)" role="navigation">

	  <div class="container">
		<div class="navbar-header pull-left">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"></button>
		  <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
		  <a class="navbar-brand" href="/">درگاه کاریابی شریف</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="/about/">درباره‌ی ما</a></li>
			<li><a href="#" data-toggle="modal" data-target="#second"> شرایط و قوانین</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">بررسی <b class="caret"></b></a>
			  <ul class="dropdown-menu">
				<li><a href="/ads">آگهی‌ها</a></li>
				<li><a href="/resumes">رزومه‌ها</a></li>
			  </ul>
			</li>
			<li>
				{% if user.is_authenticated %}
				<a href="/account/" >حساب کاربری</a>
				{% else %}
			  <a href="#" data-toggle="modal" data-target="#myModal1">ورود</a>
			  {% endif %}
			</li>
			<li><a href="/faq/">سؤالات متداول</a></li>
			{% if user.is_authenticated %}
			<li><a href="/logout/?next=/">خروج</a></li>
			{% endif %}
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container -->
	</nav>
	<style>
	.navbar-inverse {
	border-color:transparent;
	}
	</style>

	{% if not user.is_authenticated %}
	<!-- Modal -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" >
	  <div class="modal-dialog">
	  <div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">وارد شوید</h4>
	  </div>
	  <div class="modal-body">
		<div class="row dialog prm" style="margin-right:0px">

		  <div class="demo-col" style="margin-right:10px">
		<!-- 	<div class="dialog demo-dialog"> -->
			<form class="control-group" action="/login/?next={{request.META.PATH_INFO}}" method='POST'>
				{% csrf_token %}
			  <div class="row">
				<div class="form-group col-md-4 col-md-offset-4">
				  <input type="email" name="username" class="form-control" placeholder="ایمیل">
				</div>
				<div class="form-group col-md-4 col-md-offset-4">
				   <input type="password" name="password" placeholder="گذرواژه" class="form-control">
				</div>
			  </div>


			  <div class="row">
			  <button class="btn btn-primary btn-wide col-md-2 col-md-offset-5" type="submit" style="margin-bottom:7px">ورود</button>
			  </div>
		</form>
		<div class="row">
			<a class="btn btn-danger btn-wide col-md-2 col-md-offset-4" style="margin-left:5px" href="/register/seeker/">ثبت نام کارجو</a>
	  			<a class="btn btn-danger btn-wide col-md-2" href="/register/employer/">ثبت نام کارفرما</a>
	  			  </div>
			  <div class="col-md-4 col-md-offset-4 ">
				<p><a href="/forgotpass">رمز خود را فراموش کرده‌اید؟ </a></p>
			  </div>
		

		  </div>

		  </div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
		</div></div>
	  </div>
	</div><!-- /.modal --> 
	
	{% endif %}
	{% block content%}{% endblock %}
	
		<!--model for license-->
	<div class="modal fade" id = "second">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h3 class="modal-title">شرایط و قوانین درگاه کاریابی شریف</h3>
					<table class="table">
					<tr></tr>
					<tr><td>1.</td>
					<td><p>درگاه کاریابی شریف به فعالیت در خصوص اطلاع رسانی نیازمندیهای شغلی کشور و خدمات مرتبط با کاریابی به دو گروه کارجویان و کارفرمایان می پردازد و این درگاه سعی در برقراری ارتباط موثرتر میان این دو گروه را دارد،.تنها آگهی ها و مطالبی با این مضمون را مورد پذیرش و درج قرار می دهد 
					</p></td></tr>
					<tr><td>2.</td>
					<td><p> مسئولیت کامل محتوای رزومه‏ها بر عهده‏ی کارجویان است و درگاه نسبت به محتویات آنها وظیفه‏ای ندار</p>
					</td></tr>
					<tr><td>3.</td>
					<td><p>مسئولیت کامل درج مطالب مغایر با قانون یا واقع در آگهی‏ها برعهده‏ی کارفرما می باشد و درگاه شریف در این خصوص هیچ مسئولیتی ندارد. درگاه تا حد امکان سعی در اعتبارسنجی کارفرمایان و کسب‏وکار آن‏ها دارد تا کارفرمایان معتبر را به حداقل برساند.</p>
					</td></tr>
					<tr><td>4.</td>
					<td><p>مقصود از مطالب مغایر با قانون مواردی است که در قانون مجازات اسلامی، قانون حمایت ازحقوق پدیدآورندگان نرم افزارهای رایانه ای - مصوب 1379 و قانون جرایم رایانه ای ، جرم شناخته شده است</p>
					</td></tr>
					<tr><td>5.</td>
					<td><p>در صورت مشاهده مطالب مغایر با قانون از سوی کارفرمایان یا کارجویان ، درگاه شریف ضمن اخطار به کاربر خاطی  از ادامه انتشار آگهی یا مطلب در سایت جلوگیری می نماید. لازم به ذکر است که در صورت درخواست مقامات مسئول کشوری ، این درگاه موظف است که مشخصات کاربر خاطی را در اختیار مقامات مذکور قرار دهد</p>
					</td></tr>
					<tr><td>6.</td>
					<td><p>درگاه کاریابی شریف خود را امین اطلاعات شخصی مخاطبین خود دانسته و تمام تلاش خود را برای حفظ این اطلاعات بکار می‏گیرد و جز با درخواست قانونی هریک از نهادها و سازمانهای امنیتی، انتظامی و قضایی کشور یا با اطلاع قبلی کاربر اطلاعات شخصی آنان را در اختیار هیچ‌ سازمان، موسسه، شرکت و یا فرد دیگری قرار نخواهد داد</p>
					</td></tr>
					<tr><td>7.</td>
					<td><p>اطلاعات تماس کارجویان شامل تلفن، پست الکترونیکی و رزومه‏ی آنان در صورت درخواست کارفرمایان عضو سایت به قصد گزینش و استخدام در اختیار این کارفرمایان قرار می‏گیرد</p>
					<p>تبصره:اطلاعات کلی رزومه شامل تحصیلات، جنسیت و سابقه‏ی کار در اختیار تمام بازدیدکنندگان قرار می‏گیرد.</p>
					</td></tr>
					<tr><td>8.</td>
					<td><p>اطلاعات تماس کارفرمایان شامل تلفن، پست الکترونیکی و جزییات آگهی‏های آنان بر روی سایت درج شده و تنها برای کارجویان عضو به نمایش درخواهد آمد.</p>
					</td></tr>
					
					<tr><td>9.</td>
					<td><p>تبصره: اطلاعات کلی آگهی‏ها شامل نام شغل، نام شرکت یا کسب‏وکار، جنسیت و تحصیلات موردنیاز برای همه‏ی بازدیدکنندگان قابل نمایش خواهد بود</p>
					</td></tr>
					
					<tr><td>10.</td>
					<td><p>مسئولیت تماس کارفرما با کارجو یا بالعکس به عهده کاربرموردنظر می‏باشد. همچنین در صورت عدم تمایل هریک از طرفین برای مصاحبه، کاربانک مسئولیتی متوجه درگاه کاریابی شریف نخواهد بود</p>
					</td></tr>
					
					<tr><td>11.</td>
					<td><p>در صورتی که کارفرما برای یک بازه‏ی زمانی آگهی خود را ویژه کند و مبلغ آن را پرداخت کند، این هزینه به هیچ عنوان مستردد نخواهد شد</p>
					</td></tr>
					
					<tr><td>12.</td>
					<td><p>مسئولیت نحوه‏ی برگزاری و مسائل مربوط به جشنواره برعهده‏ی برگزارکنندگان جشنواره است و درگاه هیچ مسئولیتی در این ارتباط ندارد</p>
					</td></tr>
					
					<tr><td>13.</td>
					<td><p>عضویت در درگاه کاریابی شریف  به معنای قبول شرایط و مقررات ذکر شده  می‏باشد.</p>
					</td></tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!--end model-->
	
	<div class="container">
	
		  <hr>
	
		  <footer>
			<div class="row">
			  <div class="col-lg-12">
				<center><p>Copyright &copy; TARA 2013</p>
				<p>تمامی حقوق این درگاه متعلق به شرکت تارا است.</p></center>
			  </div>
			</div>
		  </footer>
	
		</div><!-- /.container -->
		
  </body>
  </html>