{% extends "accountBase.html" %}

{% block Account %}
<div class="well container">
	<div class="well container">
	<form action="." method="post">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		{% endfor %}
	<div class="col-md-12">
		<table class="table">
			{% for field in form.visible_fields %}
			<tr><td><h4>{{ field.label }}</h4></td>
				<td>{{ field }}</td>
				{% if field.errors %}
				<td style="color: red;">{{ field.errors }}</td>
					{% else %}
					<td></td>
					{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>
		<button class="btn btn-primary btn-wide col-md-2 col-md-offset-5" type="submit" style="margin-bottom:10px">تغییر گذرواژه</button>
	</form>
</div>
{% endblock %}