{% extends "accountBase.html" %}

{% block Account %}
<div class="well container">

	<div class="panel panel-default">
  <!-- Default panel contents -->
		<div class="panel-heading"><h3>تماس با ما</h3></div>
			<div class="panel-body">
				<p>با سپاس از حسن نظر شما، درگاه کاریابی شریف همواره منتظر دریافت پیشنهادات و انتقادات شما عزیزان خواهد بود. 
			</br>
			
			خواهشمندیم برای کمک به پیشرفت و بهبود این درگاه،  با انتخاب گزینه‏ی ارزیابی از نوار کناری حساب کاربری خود، نظرات خود را با ما در میان بگذارید.</p>
			</br>
			</div>

		<!-- Table -->
		<table class="table">
		<tr><td><h4>شماره تماس :</h4> </td><td><h4>02112345678</h4></td>
		</tr>
		<tr><td><h4>پست الکترونیکی : </h4></td><td><h4>jobPortal@sharif.ir</h4></td>
		</table>
	
    
    </div>
			

	
</div>
{% endblock %}