<body style="direction:rtl">
	<h4 style="color:cadetblue">کارجو با مشخصات زیر برای آگهی شما درخواست ارسال کرده است:</h4>
	<ul>
		<li> نام : {{job_seeker.name}}</li>
		<li>رشته : {{resume.get_category_display}}</li>
		<li> ساکن : {{resume.city}} </li>
		<li>مهارت ها : {{resume.skills}}</li>
		<li> تحصیلات : {{resume.get_education_display}} نفر</li>
	</ul>
	<h6>برای اطلاعات بیشتر به حساب کاربری خود وارد شوید.</h6>

</body>
