<body style="direction:rtl">
	<h4 style="color:cadetblue">کارفرما با مشخصات زیر برای رزومه شما درخواست ارسال کرده است:</h4>
	<ul>
		<li> شرکت {{ad.employer.name}}</li>
		<li>{{ad.get_category_display}}</li>
		<li> حقوق : {{ad.salary}} تومان </li>
		<li>مهارت های لازم : {{ad.required_skills}}</li>
		<li> تعداد افراد لازم : {{ad.number_of_people}} نفر</li>
	</ul>
	<h6>برای اطلاعات بیشتر به حساب کاربری خود وارد شوید.</h6>
	
</body>
