{% extends 'accountBase.html' %}
{% load staticfiles %}
{% block Account %}
{% if mod == 'a' %}
<h1 class="page-header">درخواست هایی که داده اید</h1>
{% elif mod == 'b' %}
<h1 class="page-header">پیشنهادهایی که به شما داده شده</h1>
{% elif mod == 'd' %}
<h1 class="page-header">نتایج موفق</h1>
{% else %}
<h1 class="page-header">پیشنهادهای سیستم</h1>
{% endif %}

 <div class="row">
 	  {% for resume in result%}


 			<ul class="list-group">
 			 		{% if mod != 'c' and resume.success == 'F' %}
 			 		<li class="label label-danger">درخواست ناموفق</li>
 			 		{% elif mod != 'c' and resume.success == 'T' %}
 			 		<li class="label label-success">درخواست موفق</li>
 					{% elif mod == 'c' and resume.advertisement.state == "D" %}
 					<li class="label label-warning">این آگهی غیر فعال شده است</li>
 					{% elif mod == 'c' and resume.advertisement.state == "A" %}
 					<li class="label label-primary">این آگهی فعال است</li>
 			
 			 		{% else %}
 			 		<li class="label label-info">درخواست معلق</li>
 			
 			 		{% endif %}

 			  <li class="list-group-item">{{resume.advertisement.get_category_display}}</li>
 			  <li class="list-group-item">جنسیت : {{resume.job_seeker.get_gender_display}} </li>
 			  <li class="list-group-item">نام : {{resume.job_seeker.name}}</li>
 			  <li class="list-group-item">ایمیل : {{resume.job_seeker.email}}</li>
 			  </ul>

 	 <a class="btn btn-primary" href="/resume/{{resume.job_seeker.email}}">  مشاهده کامل رزومه ها<i class="fa fa-angle-left"></i></a>
 	 {% if mod == 'b' and resume.success = 'P' %}
 	  	 <a class="btn btn-primary" href="/empaccreq/{{resume.id}}"> پذیرش درخواست <i class="fa fa-angle-left"></i></a>
 	 <a class="btn btn-primary" href="/emprejreq/{{resume.id}}"> رد درخواست <i class="fa fa-angle-left"></i></a>
 	 
 	  	 {% endif %}

 	 
 	
 	<hr>
 {% endfor %}
   </div>

 {% endblock %}