{% extends "accountBase.html" %}

{% block Account %}
    <div class="container">
    
    	  <div class="row">
    
    		<div class="col-lg-12">
    		  <h1 class="page-header">ارزیابی </h1>
    		  <ol class="breadcrumb">
    			<li><a href="/">خانه</a></li>
				<li><a href="/account">حساب کاربری</a></li>
    			<li class="active">ارزیابی</li>
    		  </ol>
    		</div>
    
    	  </div>
    
    	  <div class="row">
			
    		<div class="col-lg-12">
    
    		  <div class="panel-group" id="accordion">
    			  {% for cmt in comments%}
    			<div class="panel panel-default">
    			  <div class="panel-heading">
    				<h4 class="panel-title">
    				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{aq.id}}">
    					در تاریخ {{cmt.register_date}}
						     {{cmt.get_kind_display}} 
						 
    				  </a>
    				</h4>
    			  </div>
    			  <div id="{{cmt.id}}">
    				<div class="panel-body">
    				 {{cmt.text}}
    				</div>
    			  </div>
    			</div>
    			{% endfor%}
    		  </div>
			  
			   <!-- the comment box -->
            <form role="form" method="POST">
            <h4>نظر دهید...</h4>

                {% csrf_token %}
                {{ form.as_p }}
              <button type="submit" class="btn btn-primary">ثبت</button>
            </form>
          </div>
          
          <hr>
			  

    		</div>
			
    
    	  </div>

		  
    
    	</div><!-- /.container -->
    

    {% endblock %}