	{% extends 'base.html' %}
    {% block content%}
    <div class="container">
    
    	  <div class="row">
    
    		<div class="col-lg-12">
    		  <h1 class="page-header">سوالات متداول </h1>
    		  <ol class="breadcrumb">
    			<li><a href="index.html">خانه</a></li>
    			<li class="active">سوالات متداول</li>
    		  </ol>
    		</div>
    
    	  </div>
    
    	  <div class="row">
			
    		<div class="col-lg-12">
    
    		  <div class="panel-group" id="accordion">
    			  {% for aq in aqs%}
    			<div class="panel panel-default">
    			  <div class="panel-heading">
    				<h4 class="panel-title">
    				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{aq.id}}">
    					{{aq.question}}
    				  </a>
    				</h4>
    			  </div>
    			  <div id="collapse{{aq.id}}" class="panel-collapse collapse">
    				<div class="panel-body">
    				 {{aq.answer}}
    				</div>
    			  </div>
    			</div>
    			{% endfor%}
    		  </div>
    
    		</div>
			
    
    	  </div>
    
    	</div><!-- /.container -->
    

    {% endblock %}