{% extends 'base.html' %}
{% block content%}

{% if messages %}
	{% for message in messages%}
	<div class="row">
		<div class="col-md-8" style="margin:20px">
	<div class="alert alert-danger">{{message}}</div>			
		</div>
		
	</div>

	{% endfor %}

{% else %}
	<div class="row">
	<div class="col-md-8" style="margin:20px">
			<div class="panel panel-info" style="border:0px">
			<div class="panel-heading">
			  <strong>ثبت نام {{festival.title}}</strong>
			</div>
			<ul class="list-group" >
				 <!--  <li class="list-group-item">{{resume.get_category_display}}</li> -->
				 <li class="list-group-item"><strong>اطلاعات شما: </strong></li>
				  <li class="list-group-item"><strong>نام : </strong>{{employer.name}}</li>
				  <li class="list-group-item"><strong>تلفن :</strong>{{employer.telephone}}</li>
				  <li class="list-group-item"><strong>کد اقتصادی :</strong> {{employer.economic_code}}</li>
				  <li class="list-group-item"><strong> رایانامه :</strong>{{employer.email}}</li>
				  <li class="list-group-item"> <strong>آدرس : </strong>{{employer.address}}</li>
			</ul>
			</div> 
 <a href="/festivals/register/payment/?id={{festival.id}}"><button type="button" class="btn btn-primary" onclick="pardakht()">پرداخت</button></a>
 
 </div>
 </div>
 <style>

{% endif %}

{% endblock %}