{% extends 'base.html' %}
{% block content%}
<div class="container">

  <div class="row">

	<div class="col-md-12">
	  <h1 class="page-header">جشنواره‌ها<small> در مهندسی </small></h1>
	  <ol class="breadcrumb">
		  <li class="dropdown">
						<span class="dropdown-toggle" data-toggle="dropdown">نمایش بر اساس <b class="caret"></b></span>
						<ul class="dropdown-menu">
						  <li><a href="pricing.html">زمان</a></li>
				  <li><a href="pricing.html">مکان</a></li>
						</ul>
				  </li>
	  </ol>
	</div>

  </div>

  <div class="row">
	  {% for f in fes%}
	  <div class="col-md-4">
		<div class="panel panel-default text-center" >
		<div class="panel-heading">
		  <div class="pbl mbl"><a href="#x"><img src="{{MEDIA_URL}}{{f.poster}}" style="margin:auto" width="200px" alt="Image" class="img-responsive"></a>
		</div>

		<ul class="list-group" style="padding-top:15px;list-style-type:none">
		  <li class="list-group-item"><strong> تاریخ شروع: </strong>{{f.from_date}}</li>
		  <li class="list-group-item"><strong> تاریخ پایان: </strong>{{f.to_date}}</li>
		  <li class="list-group-item"><strong> تاریخ پایان: </strong>{{f.discount}} % </li>
		  <li class="list-group-item" style="height:280px"><strong> توضیحات: </strong>{{f.description}}</li>
		  <li style="margin-top:10px"><a  class="btn btn-primary" href="/festivals/register/?id={{f.id}}">ثبت نام کنید</a> </li>
		</ul>
		</div>          
	  </div>
	  </div>
	  {% endfor %}

  </div>

</div><!-- /.container -->
<div calss= "row" style="text-align: center">
  <div class="col-lg-12">

  <div class="pagination">
	  <ul class="pager">

  		{% if ads.has_previous %}
  			<li class="previous"><a href="?page={{ fes.previous_page_number }}">&rarr; قدیمی‌تر</a></li>
  		{% else %}
  			<li class="previous disabled"><a href="#">&rarr; قدیمی‌تر</a></li>
  		{% endif %}

  		<span class="current">
  			صفحه {{ fes.number }} از {{ fes.paginator.num_pages }}
  		</span>

  		{% if ads.has_next %}
  			<li class="next"><a href="?page={{ fes.next_page_number }}">جدید‌تر &larr;</a></li>
  		{% else %}
  			<li class="next disabled"><a href="#">جدید‌تر &larr;</a></li>
  		{% endif %}
 	 </ul>
 		 </div>
 	 </div>
  </div>
{% endblock %}