
    {% extends 'base.html' %}
    {% block content%}
    <div class="col-lg-12 col-md-12 col-sm-12">
          <img class="img-responsive" src="static/images/banner-career.jpg"  style="margin:auto">
        </div>


    <div class="section-colored text-center">

      <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2>هنوز نتوانسته اید شغل یا کارمند مورد نظر خود را بیابید؟</h2>
              <p>از میان صدها رزومه و آگهی استخدام موجود،  شغل یا کارمند مطلوب خود را  پیدا کنید.</p>
              <hr>
            </div>
          </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3" id="search">
				  <form action="/search/" method="GET">
              <div class="input-group">
                <div class="input-group-btn">
                  <!-- <button  type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="border-radius:4px">جستجو در..<span class="caret"></span></button> -->
                  <select name="search-in" class="btn btn-info dropdown-toggle">
					  <option value="default" disabled="disabled">جستجو در...</option>
                    <option value="R">رزومه‌ها</option>
                    <option value="A">آگهی‌ها</option>
                  </select>
                </div><!-- /btn-group -->
                <div class="input-group-btn">
                  <!-- <button id="bycity" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="border-radius:4px">شهر<span class="caret"></span></button> -->
                  <select name="city" class="btn btn-info dropdown-toggle">
					  <option value="default" disabled="disabled">شهر</option>
					  <option value="">همه شهرها</option>
					  {% for val, c in city_choices %}
					  <option value="{{val}}">{{ c }}</option>
					  {% endfor %}
                  </select>
                </div><!-- /btn-group -->
                <div class="input-group-btn">
                  <!-- <button id="byjob" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">رشته<span class="caret"></span></button> -->
                  <select name="category" class="btn btn-info dropdown-toggle">
					  <option value="default" disabled="disabled">رشته</option>
					  <option value="">همه رشته‌ها</option>
					  {% for val, c in category_choices %}
					  <option value="{{val}}">{{ c }}</option>
					  {% endfor %}
                  </select>
                </div><!-- /btn-group -->
                <input id="searchinput" type="text" name="q" class="form-control" placeholder="جستجو کنید">
				<div class="input-group-btn">
				<button type="submit" class="btn btn-info">جستجو</button>
			</div>
              </div><!-- /input-group -->
			</form>
            </div><!-- /.col-lg-6 -->
        </div>

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

        <div class="section">

          <div class="container">

            <div class="row">
              <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> به دنبال کار می گردید؟</h3>
                <p> برای یافتن موقعیت شغلی مناسب مهارتها و توانمندیهای خود را با ما به اشتراک بگذارید . </p>
                <p> شما می توانید آگهی های استخدامی را بررسی کنید و شغل مطلوب خود را بیابید.</p>
                <a class="btn btn-info col-md-offset-4 btn-wide" href="/ads">آگهی‌ها</a>
              </div>
              <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> به دنبال کارمند هستید؟</h3>

                <p> با عضویت در درگاه کاریابی شریف و قرار دادن آگهی استخدامی خود کارمند دلخواه خود رابیابید.</p>
                <p>با عضویت در این درگاه قادر به جست و جو در رزومه های کارجویان نیز هستید.</p>
                <a class="btn btn-info col-md-offset-4 btn-wide" href="/resumes">رزومه‌ها</a>
              </div>
              <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> چرا درگاه کاریابی شریف را انتخاب کنیم؟</h3>
                <UL TYPE="CIRCLE">
                <LI><p>درگاه کاریابی شریف خدمات گوناگونی را به کارجویان و کارفرمایان ارائه می دهد که از طریق این خدمات ارتباط میان آنها را تسریع و تسهیل می بخشد.</p></LI>
                <LI><p>آخرین اخبار جشنواره های کاریابی را در درگاه ما بیابید.</p></LI>
                <LI><p>سریع ، آسان و با دقت بالا جست و جو کنید.</p></LI>
                <LI><p>به شما بنابر معیارهایتان روزانه به صورت خودکار پیشنهادهایی ارائه می شود. </p></LI>
                </UL> 	
              </div>
            </div><!-- /.row -->

          </div><!-- /.container -->

        </div><!-- /.section -->






        <div class="section">

          <div class="container">

            <div class="row">
              <div class="col-lg-12 text-center">
                <h2>آگهی های ویژه</h2>
                <hr>
                <div class="container">
                    <div class="col-md-12">

                        <div class="well" style="background-color:white">
                            <div id="myCarousel" class="carousel slide">

                                <!-- Carousel items -->
                                <div class="carousel-inner">
									{% for ad in special_ads %}
									{% if forloop.counter|divisibleby:5 or forloop.counter == 1 %}
                                    <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                                        <div class="row">
										{% endif %}
                                            <div class="col-sm-3"><a href="/adss/?id={{ad.advertisement.id}}"><img src="{{MEDIA_URL}}{{ad.advertisement.logo}}" alt="Image" class="img-responsive" style="margin:auto"><p style="margin:auto">{{ad.advertisement.employer.name}}</p></a>
                                            </div>
										{% if forloop.counter|divisibleby:4 or forloop.last %}
                                        </div>
                                        <!--/row-->
                                    </div>
									{% endif %}
									{% endfor %}
                                    <!--/item-->
                                    
                                </div>
                                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                            </div>
                            <!--/myCarousel-->
                        </div>
                        <!--/well-->
                    </div>
                </div>

            </div><!-- /.row -->

          </div><!-- /.container -->

        </div><!-- /.section -->

        <div class="section-colored">

          <div class="container">

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>آخرین اخبار جشنواره های کاریابی و کارآفرینی</h2>
                <ul>
                  <li>جشنواره کاریابی دانشگاه صنعتی شریف به پایان رسید.</li>
                  <li>با برترین شنواره های کاریابی آشنا شوید.</li>
                  <li>ثبت نام جشنواره کاریابی دانشگاه امیرکبیر از تاریخ 92/11/5 به مدت 10 روز کاری آغاز شد.</li>
                </ul>
                <br>
                <a class="btn btn-info col-md-offset-4 btn-wide" href="/festivals">برو به جشنواره‌ها</a>
              </div>
              <div class="col-lg-3 col-md-2 col-sm-2">
                <a href="/festivals"><img class="img-responsive" src="static/images/3rdposter.jpg"></a>
              </div>
              <div class="col-lg-3 col-md-2 col-sm-2">
                <a href="/festivals"><img class="img-responsive" src="static/images/2ndposter.jpg">
</a>
                </div>
            </div><!-- /.row -->

          </div><!-- /.container -->

        </div><!-- /.section-colored -->

     <div class="section">

           <div class="container">

             <div class="row">
               <div class="col-lg-5 col-md-5 col-sm-5">
                 <!-- <img class="img-responsive" src="http://placehold.it/700x450"> -->
                 <div class="panel panel-default">
                   <!-- Default panel contents -->                       
                   <div class="panel-heading"><h4>پرطرفدارترین آگهی ها</h4> </div>
                   <!-- Table -->
                   <table class="table" >
                       
                     <thead>
                         
                       <tr>
                         <th></th>
                         <th>کارفرما</th>
                         <th>حیطه ی شغل</th>
                         <th>تعداد درخواست ها</th>
                       </tr>
                     </thead>
                     <tbody>
                         {% for ad in mostSeen %}
                       <tr>
                        <td><a href ="/adss/?id={{ad.id}}">&#10059;</a></td>

                         <td>{{ad.employer.name}}</td>
                         <td> {{ad.get_category_display}}</td>
                         <td>{{ad.jobrequest__count}}</td>
                       </tr>
                       {% endfor %}
                        </tbody>
                   </table>
                 </div>
               </div>
               <div class="col-lg-5 col-md-5 col-sm-5">
                  <!-- <img class="img-responsive" src="http://placehold.it/700x450"> -->
                 <div class="panel panel-default">
                   <!-- Default panel contents -->                       
                   <div class="panel-heading"><h4>آخرین آگهی ها</h4> </div>
                   <!-- Table -->

                   <table class="table" >
                     <thead>
                       <tr>
                         <th></th>
                         <th>کارفرما</th>
                         <th>نیازمندی</th>
                       </tr>
                     </thead>
                     <tbody>
                         {% for ad in lastAds%}
                            <tr>
                              <td><a href ="/adss/?id={{ad.id}}">&#10059;</a></td>
                              <td> {{ad.employer.name}}</td>
                              <td>{{ad.get_category_display}}</td>
                            </tr>
                        {% endfor %}

                       <!-- <tr>
                         <td>1</td>
                         <td>کافه بازار</td>
                         <td> مهندس نرم افزار</td>
                       </tr>
                       <tr>
                         <td>2</td>
                         <td> شرکت رایاگستر فراز </td>
                         <td>مهندس فناوری اطلاعات</td>
                       </tr>
                       <tr>
                         <td>3</td>
                         <td>شرکت نفت </td>
                         <td>مهندس عمران </td>
                       </tr>
                       <tr>
                         <td>4</td>
                         <td>بانک سامان</td>
                         <td> کارشناس ارشد امنیت و شبکه</td>
                       </tr>
                       <tr>
                         <td>5</td>
                         <td>شرکت نگارگستر ماهان</td>
                         <td>کارشناس ارشد مدیریت مالی</td>
                       </tr> -->
                     </tbody>
                   </table>
                 </div>
               </div>
               </div>
             </div><!-- /.row -->

           </div><!-- /.container -->

         </div><!-- /.section -->



      <script type='text/javascript'>

                    $(document).ready(function() {
                     $('#myCarousel').carousel({
                      interval: 5000
          })

            $('#myCarousel').on('slid.bs.carousel', function() {
              //alert("slid");
          });


        });



      </script>

      <!-- JavaScript for search bar-->
      <script>
          $("#search li a").on('click' ,function(){
           // $('#bycity').text(this.text);
           $(this).parent().parent().parent().find('button').text(this.text);
        });
      </script>
              <style type="text/css">
                            .carousel-control {
                  padding-top:10%;
                  width:5%;
                }
     </style>
    {% endblock %}

