{% extends 'accountBase.html' %}
{% load staticfiles %}
{% block Account %}
{% if mod == 'a' %}
<h1 class="page-header">درخواست هایی که داده اید</h1>
{% elif mod == 'b' %}
<h1 class="page-header">پیشنهادهایی که به شما داده شده</h1>
{% elif mod == 'd' %}
<h1 class="page-header">نتایج موفق</h1>
{% else %}
<h1 class="page-header">پیشنهادهای سیستم</h1>
{% endif %}
 <div class="row">
 	  {% for ad in result%}


 			<ul class="list-group">
	 		{% if mod != 'c' and ad.success == 'F' %}
	 		<li class="label label-danger">درخواست ناموفق</li>
	 		{% elif mod != 'c' and ad.success == 'T' %}
	 		<li class="label label-success">درخواست موفق</li>
			{% elif mod == 'c' and ad.advertisement.state == "D" %}
			<li class="label label-warning">این آگهی غیر فعال شده است</li>
			{% elif mod == 'c' and ad.advertisement.state == "A" %}
			<li class="label label-primary">این آگهی فعال است</li>

	 		{% else %}
	 		<li class="label label-info">درخواست معلق</li>

	 		{% endif %}
 			  <li class="list-group-item">{{ad.advertisement.get_category_display}}</li>
 			  <li class="list-group-item">شهر : {{ad.advertisement.get_city_display}}</li>
 			  <li class="list-group-item">حقوق پیشنهادی : {{ad.advertisement.salary}}</li>

 			  <li class="list-group-item">جنسیت : {{ad.advertisement.get_gender_display}} </li>
 			</ul>

 	 <a class="btn btn-primary" href="/adss/?id={{ad.advertisement.id}}"> مشاهده کامل آگهی <i class="fa fa-angle-left"></i></a>
 	 {% if mod == 'b' and ad.success = 'P' %}
 	 <a class="btn btn-primary" href="/accreq/{{ad.id}}"> پذیرش درخواست <i class="fa fa-angle-left"></i></a>
<a class="btn btn-primary" href="/rejreq/{{ad.id}}"> رد درخواست <i class="fa fa-angle-left"></i></a>

 	 {% endif %}
 	 

 	
 	<hr>
 {% endfor %}
   </div>

 {% endblock %}