{% extends 'base.html' %}

{% block content%}

<div class="row well-container">
	{% if messages %}
	<div class="row-fluid">
		<div class="offset3 span8">
	    {% for message in messages %}
		<div class="alert alert-{{message.tag}}">
			<p>{{message}}</p>
		</div>
	    {% endfor %}
	</div>
	</div>
	{% endif %}
<form action="./?next={{next}}" method="post">
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
	{{ hidden }}
	{% endfor %}
<div class="col-md-12">
	{% if form.non_field_errors %}
	<div class="alert alert-error">
		{{ form.non_field_errors }}
	</div>
	{% endif %}
	<table class="table">
		{% for field in form.visible_fields %}
		<tr><td><h6>{{ field.label }}</h6></td>
			<td>{{ field }}</td>
			{% if field.errors %}
			<td style="color: red;">{{ field.errors }}</td>
				{% else %}
				<td></td>
				{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>
	<button class="btn btn-primary btn-wide col-md-2 col-md-offset-3" type="submit" style="margin-bottom:10px">ورود</button>
</form>
</div>

{% endblock %}