{% extends 'base.html' %}
{% block content%}
<div class="container" style="padding-top:90px">
	<div class="row">
		<div>
			<form action="./?q={{email}}" method="post">
				{% csrf_token %}
			<div class="span12">
				{% if form.non_field_errors %}
				<div class="alert alert-error">
					{{ form.non_field_errors }}
				</div>
				{% endif %}
				<h5>
					گذرواژه جدید خود را وارد کنید .
				</h5>
				<br>
				<table class="table">
					{% for field in form.visible_fields %}
					<tr><td><br><h6>{{ field.label }}</h6></td>
						<td><br>{{ field }}</td>
						{% if field.errors %}
						<td style="color: red;">{{ field.errors }}</td>
							{% else %}
							<td></td>
							{% endif %}
					</tr>
					{% endfor %}
				</table>
			</div>
			<div class="offset3">
				<button class="mrl btn btn-primary btn-wide" type="submit" style="margin-bottom:10px">تغییر گذرواژه</button>
			</div>
			</form>

		</div>

	</div>

</div>
{% endblock %}