{% extends 'base.html' %}
{% block content%}
<div class="row">
<form action="." method="post">
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
	{{ hidden }}
	{% endfor %}
<div class="col-md-12">
	<table class="table">
		{% for field in form.visible_fields %}
		<tr><td><h4>{{ field.label }}</h4></td>
			<td>{{ field }}</td>
			{% if field.errors %}
			<td style="color: red;">{{ field.errors }}</td>
				{% else %}
				<td></td>
				{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>
<div class="col-md-12">
	<table class="table">
		<tr><td><h4>آداب نامه</h4></td>
		<td><textarea rows="10" cols = "60" readonly>درگاه کاریابی شریف به فعالیت در خصوص اطلاع رسانی نیازمندیهای شغلی کشور و خدمات مرتبط با کاریابی به دو گروه کارجویان و کارفرمایان می پردازد و این درگاه سعی در برقراری ارتباط موثرتر میان این دو گروه را دارد،.تنها آگهی ها و مطالبی با این مضمون را مورد پذیرش و درج قرار می دهد .
مسئولیت کامل محتوای رزومه‏ها بر عهده‏ی کارجویان است و درگاه نسبت به محتویات آنها وظیفه‏ای ندارد.
مسئولیت کامل درج مطالب مغایر با قانون یا واقع در آگهی‏ها برعهده‏ی کارفرما می باشد و درگاه شریف در این خصوص هیچ مسئولیتی ندارد. درگاه تا حد امکان سعی در اعتبارسنجی کارفرمایان و کسب‏وکار آن‏ها دارد تا کارفرمایان معتبر را به حداقل برساند.
مقصود از مطالب مغایر با قانون مواردی است که در قانون مجازات اسلامی، قانون حمایت ازحقوق پدیدآورندگان نرم افزارهای رایانه ای - مصوب 1379 و قانون جرایم رایانه ای ، جرم شناخته شده است.
در صورت مشاهده مطالب مغایر با قانون از سوی کارفرمایان یا کارجویان ، درگاه شریف ضمن اخطار به کاربر خاطی  از ادامه انتشار آگهی یا مطلب در سایت جلوگیری می نماید. لازم به ذکر است که در صورت درخواست مقامات مسئول کشوری ، این درگاه موظف است که مشخصات کاربر خاطی را در اختیار مقامات مذکور قرار دهد.
درگاه کاریابی شریف خود را امین اطلاعات شخصی مخاطبین خود دانسته و تمام تلاش خود را برای حفظ این اطلاعات بکار می‏گیرد و جز با درخواست قانونی هریک از نهادها و سازمانهای امنیتی، انتظامی و قضایی کشور یا با اطلاع قبلی کاربر اطلاعات شخصی آنان را در اختیار هیچ‌ سازمان، موسسه، شرکت و یا فرد دیگری قرار نخواهد داد.
اطلاعات تماس کارجویان شامل تلفن، پست الکترونیکی و رزومه‏ی آنان در صورت درخواست کارفرمایان عضو سایت به قصد گزینش و استخدام در اختیار این کارفرمایان قرار می‏گیرد.
تبصره:اطلاعات کلی رزومه شامل تحصیلات، جنسیت و سابقه‏ی کار در اختیار تمام بازدیدکنندگان قرار می‏گیرد.
اطلاعات تماس کارفرمایان شامل تلفن، پست الکترونیکی و جزییات آگهی‏های آنان بر روی سایت درج شده و تنها برای کارجویان عضو به نمایش درخواهد آمد.
تبصره: اطلاعات کلی آگهی‏ها شامل نام شغل، نام شرکت یا کسب‏وکار، جنسیت و تحصیلات موردنیاز برای همه‏ی بازدیدکنندگان قابل نمایش خواهد بود.
مسئولیت تماس کارفرما با کارجو یا بالعکس به عهده کاربرموردنظر می‏باشد. همچنین در صورت عدم تمایل هریک از طرفین برای مصاحبه، کاربانک مسئولیتی متوجه درگاه کاریابی شریف نخواهد بود. 
در صورتی که کارفرما برای یک بازه‏ی زمانی آگهی خود را ویژه کند و مبلغ آن را پرداخت کند، این هزینه به هیچ عنوان مستردد نخواهد شد.
مسئولیت نحوه‏ی برگزاری و مسائل مربوط به جشنواره برعهده‏ی برگزارکنندگان جشنواره است و درگاه هیچ مسئولیتی در این ارتباط ندارد.
عضویت در درگاه کاریابی شریف  به معنای قبول شرایط و مقررات ذکر شده  می‏باشد.

</textarea></td>
		</tr>
		<tr><td></td>
			<td>
			<label class="checkbox">
			<input name="accept-rules" type="checkbox"> قوانین و مقررات درگاه کاریابی شریف را مطالعه کرده و می‏پذیرم.
		</label></td>
		{% if notaccept %}
		<td style="color:red">شما باید قوانین سایت را بپذیرید</td>
		{% endif %}
		</tr>
	</table>
</div>


	<button class="btn btn-primary btn-wide col-md-2 col-md-offset-5" type="submit" style="margin-bottom:10px">ثبت نام</button>
</form>
</div>
{% endblock %}