{% extends 'base.html' %}
{% block content %}

	<div class="container">

		  <div class="row">
	
			<div class="col-md-12">
			  <h1 class="page-header">رزومه‌ها <small>رزومه نمونه</small></h1>
			  <ol class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li class="active">‌رزومه‌ها</li>
			  </ol>
			</div>
		  </div>

	  <div class="row">

		<div class="col-md-8" >

		  <!-- the actual blog post: title/author/date/content -->

		  <p><i class="fa fa-clock-o"></i> این رزومه در تاریخ {{resume.date}} قرار گرفته است. </p>
		  <hr>

			<div class="panel panel-info" style="border:0px">
			<div class="panel-heading">
			  <strong>{{resume.get_category_display}}</strong>
			</div>
			<ul class="list-group" >
				 <!--  <li class="list-group-item">{{resume.get_category_display}}</li> -->
				  <li class="list-group-item">جنسیت : {{resume.job_seeker.get_gender_display}} </li>
				  <li class="list-group-item">شهر : {{resume.get_city_display}} </li>
				  <li class="list-group-item">تجارب کاری : {{resume.job_experiences}}</li>
				  <li class="list-group-item">تحصیلات : {{resume.education}}</li>
				 <!--  <li class="list-group-item">آدرس : {{resume.job_seeker.addres}}</li> -->
				  <li class="list-group-item">مهارت ها : <br>{{resume.skills|safe}} </li>
				  {% if is_employer %}
				  <li class="list-group-item"><a class="btn btn-info" href="request/?id={{resume.id}}">درخواست </a></li>
				  {% endif %}
			</ul>
			</div>          


<!-- 		  <p><strong> پیوندهای مرتبط:</strong></p>
		  <ul>
			<li><a href="http://spaceipsum.com/">آگهی‏ها</a></li>
			<li><a href="http://cupcakeipsum.com/">رزومه‏ها</a></li>
			<li><a href="http://tunaipsum.com/">خانه</a></li>
		  </ul>

		  <hr> -->
		  </div>



		<div class="col-md-4">
		  <div class="well">
<!-- 			<h4>رزومه‌های مشابه</h4>
			  <div class="row">
				<div class="col-lg-6">
				  <ul class="list-unstyled">
					<li><a href="#dinosaurs">کافه بازار</a></li>
					<li><a href="#spaceships">پرتو داده</a></li>
					<li><a href="#fried-foods">سامان رهاورد</a></li>

				  </ul>
				</div>
				<div class="col-lg-6">
				  <ul class="list-unstyled">
					<li><a href="#wild-animals">رایاگستر فردا</a></li>
					<li><a href="#business-casual">داده‏پردازی</a></li>

				  </ul>
				</div>
			  </div> -->
			  	{% if resume.profile_pic %}
<img class="img-responsive" style="margin:auto" src="{{MEDIA_URL}}{{resume.profile_pic}}">
			  
			  	{% elif resume.job_seeker.gender = 'F' %}
<img class="img-responsive" style="margin:auto" src="{{STATIC_URL}}images/default_profile.jpg">
			    {% else %}
<img class="img-responsive" style="margin:auto" src="{{STATIC_URL}}images/male_profile.png">
			    {% endif %}

		  </div><!-- /well -->
		  <div class="well">
			<h4>ویژه شوید!</h4>
            <p>شما می‏توانید با پرداخت هزینه‏ای اندک آگهی خود را درصفحه‏ی اصلی درج کنید و بازدیدکننده‏ی بیشتری داشته باشید.<p>
          
		  </div><!-- /well -->
		</div>
	  </div>
	</div><!-- /.container -->
{% endblock %}