{% extends 'base.html' %}
{% block content%}
<div class="container">

  <div class="row">
  	<div class="col-lg-12">
  	  <h1 class="page-header">رزومه‌های ثبت شده<small> </small></h1>
  	  <ol class="breadcrumb">
  		  <li class="dropdown">
  			<span class="dropdown-toggle" data-toggle="dropdown">نمایش بر اساس <b class="caret"></b></span>
  			<ul class="dropdown-menu">
  			  <li><a href="/resumes/?bydate=1">زمان</a></li>
  			  <li><a href="/resumes/?bycat=1">زمینه</a></li>

  			</ul>
  		  </li>
  	  </ol>
  	</div>
    </div>
 

{% for resume in resumes%}
  <div class="row">
  <div class="col-md-11">

	<div class="col-md-3">
		{% if resume.profile_pic %}
		<img class="img-responsive" src="{{MEDIA_URL}}{{resume.profile_pic}}">

		{% elif resume.job_seeker.gender = 'F' %}
		<img class="img-responsive" src="{{STATIC_URL}}images/default_profile.jpg">
	  {% else %}
		<img class="img-responsive" src="{{STATIC_URL}}images/male_profile.png">
	  {% endif %}
	</div>

	<div class="col-md-7">
<!-- 	  <h3>Project Name</h3> -->
			<ul class="list-group">
			  <li class="list-group-item">{{resume.get_category_display}}</li>
			  <li class="list-group-item">جنسیت : {{resume.job_seeker.get_gender_display}} </li>
			  <li class="list-group-item">تحصیلات : {{resume.get_education_display}}</li>
			  <li class="list-group-item">تجارب کاری : {{resume.job_experiences}}</li>
			</ul>
  
	  <a class="btn btn-primary" href="/resume/?id={{resume.id}}"> مشاهده رزومه <i class="fa fa-angle-left"></i></a>
	</div>
	</div>
	</div>
	<hr>
{% endfor %}

<div calss= "row" style="text-align: center">
  <div class="col-lg-12">

  <div class="pagination">
	  <ul class="pager">

  		{% if resumes.has_previous %}
  			<li class="previous"><a href="?page={{ resumes.previous_page_number }}">&rarr; قدیمی‌تر</a></li>
  		{% else %}
  			<li class="previous disabled"><a href="#">&rarr; قدیمی‌تر</a></li>
  		{% endif %}

  		<span class="current">
  			صفحه {{ resumes.number }} از {{ resumes.paginator.num_pages }}
  		</span>

  		{% if resumes.has_next %}
  			<li class="next"><a href="?page={{ resumes.next_page_number }}">جدید‌تر &larr;</a></li>
  		{% else %}
  			<li class="next disabled"><a href="#">جدید‌تر &larr;</a></li>
  		{% endif %}
 	 </ul>
 		 </div>
 	 </div>
  </div>


</div><!-- /.container -->
{% endblock %}
