{% extends 'base.html' %}
{% block content%}
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<form action="." method="POST">
			{% csrf_token %}
			<table class="table table-striped">
				<thead style="text-align:center">
					<tr>
						<th> &#10003 </th>
						<th>رشته </th>
						<th>تعداد افراد لازم</th>
						<th>جنسیت</th>
						<th>مهارتهای لازم</th>
					</tr>
				</thead>
				<tbody>
			  {% for ad in ads %}
			  <tr>
				  <td><p><label for="id_cc_myself"></label>
			<input type="checkbox" name="ad" value="{{ad.id}}" id="id_cc_myself" />
			<input name="resume" type="hidden" value="{{resume.id}}">
			</p></td>
				<td>{{ad.get_category_display}}</td>
				<td>{{ad.number_of_people}}نفر </td>
				<td>{{ad.get_gender_display}}</td>
				<td>{{ad.required_skills}}</td>
				
			  </tr>
			  
			  {% endfor %}

			  </tbody>
			</table>
			<input type="submit" value="Submit" />
			</form>
			
		</div>
		
	</div>
	
</div>
{% endblock %}