    {% extends 'accountBase.html' %}
    {% load staticfiles %}
    {% block Account %}
    
    <script>
      window.onload=function(){
        ajaxData = {};
        ajaxData.pagea = 1;
        ajaxData.pageb = 1;
        ajaxData.pagec = 1;
        geta();
        getb();
        getc();
      };
      function geta() {
        var url = "/ajax/account/history";
          $.ajax({
          url:url,
          type : 'post',
          dataType :'json',
          data: {'type' :'a', 'page' : ajaxData.pagea, 'flag': {% if flag %}'T'{% else %}'F'
{% endif %}},
          success: function (data,status,xhr) {
            var output = [];
            {% if flag %}
            for(var i = 0; i < data.result.length; i++){
              //alert(data.result[i].class)
              output.push('<div class="col-md-4"><table style="width:100%; text-align:center; margin:10px" frame = "box"><tr><td class="',data.result[i].class,'">',data.result[i].employer,'</td><td><a href ="/adss/?id=',data.result[i].adid,'">',data.result[i].category,'</a></td></tr></table></div>')
            }
            {% else %}
            for(var i = 0; i < data.result.length; i++){
              output.push('<div class="col-md-4"><table style="width:100%; text-align:center ; margin:10px" frame = "box"><tr><td class = "',data.result[i].class,'">',data.result[i].job_seeker,'</td><td><a href="/resume/',data.result[i].email,'">',data.result[i].category,'</a></td></tr></table></div>')
            }
            {% endif %} 
            
            document.getElementById('a').innerHTML = output.join('');
          }
            

            
            
          })
        }

    
      function getb(){
        var url = "/ajax/account/history";
          $.ajax({
          url:url,
          type : 'post',
          dataType :'json',
          data: {'type' :'b', 'page' : ajaxData.pageb , 'flag': {% if flag %}'T'{% else %}'F'
{% endif %}},
          success: function (data,status,xhr) {
            var output = [];
            {% if flag %}
            for(var i = 0; i < data.result.length; i++){
              //alert(data.result[i].class)
              output.push('<div class="col-md-4"><table style="width:100%; text-align:center ; margin:10px" frame = "box"><tr><td class="',data.result[i].class,'">',data.result[i].employer,'</td><td><a href ="/adss/?id=',data.result[i].adid,'">',data.result[i].category,'</a></td></tr></table></div>')
            }
            {% else %}
            for(var i = 0; i < data.result.length; i++){
              output.push('<div class="col-md-4"><table style="width:100%; text-align:center ; margin:10px" frame = "box"><tr><td class = "',data.result[i].class,'">',data.result[i].job_seeker,'</td><td><a href="/resume/',data.result[i].email,'">',data.result[i].category,'</a></td></tr></table></div>')
            }
            {% endif %} 
            
            document.getElementById('b').innerHTML = output.join('');

    
            }
          })
        }

      
      function getc(id){
        var url = "/ajax/account/history";
          $.ajax({
          url:url,
          type : 'post',
          dataType :'json',
          data: {'type' :'c', 'page' : ajaxData.pagec , 'id': id, 'flag': {% if flag %}'T'{% else %}'F'
          {% endif %}},
          success: function (data,status,xhr) {
            var output = [];
            {% if flag %}
            for(var i = 0; i < data.result.length; i++){
              //alert(data.result[i].class)
              output.push('<div class="col-md-4"><table style="width:100%; text-align:center ; margin:10px" frame = "box"><tr><td class="',data.result[i].status,'">',data.result[i].employer,'</td><td><a href ="/adss/?id=',data.result[i].adid,'">',data.result[i].category,'</a></td><td><button onclick = "del(',data.result[i].pk,', this)">&#10008</button></td></tr></table></div>')
            }
            {% else %}
            for(var i = 0; i < data.result.length; i++){
              output.push('<div class="col-md-4"><table style="width:100%; text-align:center ; margin:10px" frame = "box"><tr><td class = "',data.result[i].status,'">',data.result[i].job_seeker,'</td><td><a href="/resume/',data.result[i].email,'">',data.result[i].category,'</a></td><td><button onclick = "del(',data.result[i].pk,',this)">&#10008</button></td></tr></table></div>')
            }
            {% endif %} 
            
            document.getElementById('c').innerHTML = output.join('');

            

            }
          })
        }
        function del(id, t){
          t.parentNode.parentNode.parentNode.parentNode.parentNode.remove();
          getc(id)
          
        }

      

    </script>
    
    <!-- Page Content -->
    
          <h1 class="page-header">{{ account.name }}<small>{% if flag %}کارجو{% else %}کارفرما{% endif %}</small></h1>
          <h3 >اطلاعات کلی </h3>
          <div class="row">
            <div class="col-md-4"><b>ایمیل:</b>
              {{account.email}}
              
            </div>
            {% if flag %}
            <div class="col-md-4"><b>شماره ی ملی:</b>
              {{account.national_code}}
              
            </div>
            <div class="col-md-4"><b>جنسیت:</b>
                {{account.get_gender_display}}
  
          </div>

            {% else %}
            <div class="col-md-4"><b>کد اقتصادی:</b>
                {{account.economic_code}}
                
              </div>
              <div class="col-md-4"><b>شماره ثبت شرکت:</b>
                  {{account.registration_number}}
            
            </div>

            {% endif %}
          </div>
          <hr>
          <h3 >آخرین درخواست هایی که داده اید </h3>
          <div class="row" id = "a">

    
          </div>
          <hr>
          <h3 > آخرین پیشنهادهایی که به شما داده شده  </h3>
          
        <div class="row" id = "b">

         
         </div>

    
          <hr>
          <h3 >مناسب برای شما </h3>
          <div class="row" id = "c">
   
          
          </div>
       
  {% endblock %}

