{% extends 'accountBase.html' %}
{% block Account%}
<div class="well container">
<form method="post">
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
	{{ hidden }}
	{% endfor %}
<div class="col-md-12">
	<table class="table">
		{% for field in form.visible_fields %}
            {% if  field.label != 'Advertisement' %}
		<tr><td><h4>{{ field.label }}</h4></td>
			<td>{{ field }}</td>
			{% if field.errors %}
			<td style="color: red;">{{ field.errors }}</td>
				{% else %}
				<td></td>
				{% endif %}
            {% endif %}
		{% endfor %}
    		</tr>
		<tr>
        <td><h4>پرداختی</h4></td>
            <td><h5>روزی{{ pay.amount }}تومان </h5></td>
        </tr>
		
        <tr>
        <td><h4>آگهی</h4></td>
            <td><h5>{{ adi }}</h5></td>
        </tr>
	</table>
</div>
	<button class="mrl btn btn-primary btn-wide" type="submit" style="margin-bottom:10px">پرداخت</button>
		
</form>
</div>
{% endblock %}