{% extends 'accountBase.html' %}
{% load staticfiles %}
{% block Account %}
{% if flag %}
<h1 class="page-header">رزومه هایی که ثبت کرده اید</h1>
{% else %}
<h1 class="page-header">رزومه هایی که این کاربر ثبت کرده است</h1>
{% endif %}
 <div class="row">
 	  {% for resume in resumes%}
 

 			<ul class="list-group">
	 		{% if resume.state == "D" and flag %}
	 		<li class="label label-warning">این رزومه غیر فعال شده است</li>
	 		{% elif resume.state == "A" and flag %}
	 		<li class="label label-primary">این رزومه فعال است</li>
	 		{% endif %}

 			  <li class="list-group-item">{{resume.get_category_display}}</li>
 			  <li class="list-group-item">جنسیت : {{resume.job_seeker.get_gender_display}} </li>
 			  <li class="list-group-item">تحصیلات : {{resume.education}}</li>
 			  <li class="list-group-item">تجارب کاری : {{resume.job_experiences}}</li>
 			</ul>
 
 	 <a class="btn btn-primary" href="/resume/?id={{resume.id}}"> مشاهده کامل رزومه <i class="fa fa-angle-left"></i></a>
 	 {% if flag %}
 	 <a class="btn btn-primary" href="/updateResume/{{resume.id}}"> تغییر رزومه <i class="fa fa-angle-left"></i></a>
 	 {% if resume.state == "A"%}
 	 <a class="btn btn-primary" href="/removeResume/{{resume.id}}/"> غیر فعال کردن رزومه <i class="fa fa-angle-left"></i></a>
 	 {% endif %}
	{% endif %}
 	</div>
 	<hr>
 {% endfor %}
   </div>

 {% endblock %}