{% extends 'accountBase.html' %}
{% load staticfiles %}
{% block Account %}



<h1 class="page-header">آگهی هایی که ثبت کرده اید</h1>

 <div class="row">
	 {% for sad in sads %}
		<ul class="list-group">
			<span class="label label-warning" >ویژه </span>
			{% if sad.advertisement.state == "D" %}
			<li class="label label-warning">این آگهی غیر فعال شده است</li>
			{% elif sad.advertisement.state == "A" %}
			<li class="label label-primary">این آگهی فعال است</li>
			{% endif %}

		  <li class="list-group-item">{{sad.advertisement.get_category_display}}</li>
		  <li class="list-group-item">شهر : {{sad.advertisement.get_city_display}}</li>
		  <li class="list-group-item">حقوق پیشنهادی : {{sad.advertisement.salary}}</li>

		  <li class="list-group-item">جنسیت : {{sad.advertisement.get_gender_display}} </li>
		</ul>

 <a class="btn btn-primary" href="/adss/?id={{sad.advertisement.id}}"> مشاهده کامل آگهی <i class="fa fa-angle-left"></i></a>
 <a class="btn btn-primary" href="/updateAd/{{sad.advertisement.id}}/"> تغییر آگهی <i class="fa fa-angle-left"></i></a>
 {% if sad.advertisement.state == "A" %}

 <a class="btn btn-primary" href="/removeAd/{{sad.advertisement.id}}/"> غیر فعال کردن آگهی <i class="fa fa-angle-left"></i></a>
 {% endif %}
<hr>
{% endfor %}
	 
	{% for ad in ads%}


	<ul class="list-group">
		{% if ad.state == "D" %}
		<li class="label label-warning">این آگهی غیر فعال شده است</li>
		{% elif ad.state == "A" %}
		<li class="label label-primary">این آگهی فعال است</li>
		{% endif %}

	  <li class="list-group-item">{{ad.get_category_display}}</li>
	  <li class="list-group-item">شهر : {{ad.get_city_display}}</li>
	  <li class="list-group-item">حقوق پیشنهادی : {{ad.salary}}</li>

	  <li class="list-group-item">جنسیت : {{ad.get_gender_display}} </li>
	</ul>

	<a class="btn btn-primary" href="/adss/?id={{ad.id}}"> مشاهده کامل آگهی <i class="fa fa-angle-left"></i></a>
	<a class="btn btn-primary" href="/updateAd/{{ad.id}}/"> تغییر آگهی <i class="fa fa-angle-left"></i></a>
	{% if ad.state == "A" %}

	<a class="btn btn-primary" href="/removeAd/{{ad.id}}/"> غیر فعال کردن آگهی <i class="fa fa-angle-left"></i></a>
	{% endif %}

	<a class="btn btn-primary" href="/special_ad_register/{{ad.id}}"> ویژه کردن آگهی <i class="fa fa-angle-left"></i></a>


	<hr>

	{% endfor %}
   </div>

 {% endblock %}